.footer {
    display: flex;
    justify-content: center;
    font-family: 'Gemunu Libre', sans-serif;
    color: aliceblue;
    font-weight: 300;
}

.footer__box {
    height: 3rem;
    width: 452px;
    background-color: rgb(4, 141, 187);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: aliceblue;
    text-decoration: none;
}